/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/venv/
/renders/*
/fixtures/*.blend1
/fixtures/cache_fluid
/fixtures/models/*_glitched.obj
!/fixtures/textures/*
!/fixtures/textures/height_maps
!/fixtures/skull.obj
/fixtures/blendcache_base
.DS_Store
*.png
lib/glitch3d/bpy/canvas/__pycache__/
lib/glitch3d/bpy/__pycache__/
fixtures/osl-shaders/*.oso