/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/renders/*
/fixtures/models/*
/fixtures/*.blend1
/fixtures/cache_fluid
/fixtures/*_glitched.obj
!/fixtures/textures/*
!/fixtures/textures/height_maps
!/fixtures/skull.obj
/fixtures/blendcache_base
.DS_Store
*.png